<div class="container">
    <h2>Fitbit Connect</h2>
    
    By clicking the link you authorize Care-n to collect your steps and sleep data from Fitbit in order to help determine your 
    HealthRank score. <br />
    <%= link_to '/auth/fitbit', class: "btn btn-lg btn-success" do %>
        Link to fitbit
    <% end %>
</div>